
body{
   /*background-color: rgba(7, 36, 6, 0.89);*/
    /* background-image: url("./images/login2.jpg"); */
    background: linear-gradient(90deg,#2980b9, #d4536f);
    font-size: larger;
  }

 #checkboxes{
   color: white;
 }
